{% extends 'base.html' %}

{% block title %}
  {{ task.title }}
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li><a href="/tasks/">Tasks</a></li>
    <li class="active">{{ task.title }}</li>
  </ol>

  <div class="page-header">
    <h1>{{ task.title }}</h1>
    <p class="lead">{{ task.description }}</p>
  </div>

  <p>
    This task is part of
    <a href="{{ task.task_list.get_absolute_url }}">{{ task.task_list.title }}</a>
  </p>

  {% if task.info_url %}
    <p><a href="{{ task.info_url }}" class="btn btn-default">More Info</a></p>
  {% endif %}

  {% if not task.done %}
    <p><i>This task is not yet done.</i></p>
  {% endif %}

  {% if perms.todos.change_task %}
    <a href="edit" class="btn btn-primary">Edit</a>
  {% endif %}

{% endblock %}